.BannerImage {
    background-image: url('https://www.apple.com/v/home/aq/images/promos/macbook-air/promo_macbookair__fywl7i82fueu_large_2x.png');
    background-size: 850px 580px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    height: 580px;
}